@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --purple: rgb(104, 42, 233);
  --light: #dbdbdb;
  --bg: #0e1212;
  --comment: #555;
  --font: "Poppins", sans-serif;
}

.App {
  text-align: start;
}

* {
  font-family: var(--font);
  outline: none;
}
.tb {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  break-before: 5px;
  margin-top: 25px;
  font-weight: 300;
  font-size: 24px;
  box-shadow: 10px 10px 80px rgba(104, 42, 233, 1);
}

.tb h2,
.tb p {
  margin: 0;
  margin-bottom: 1px solid red;
}
.tb p {
  font-size: 14px;
  color: var(--comment);
}
.tb-price {
  text-align: right;
  list-style: none;
}
.tb-price button {
  margin-left: 20px;
}
.tb-price h2 {
  margin-top: -10px;
}
.tb-price a {
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;
  color: var(--comment);
  transition: 0.3s ease;
}
.tb-price a:hover {
  color: var(--purple);
}
.container {
  width: 100%;
}
.container {
  margin-bottom: 100px;
}
.tb button {
  padding: 10px 20px;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}
.tb button:hover {
  color: var(--light);
}
.tb button:hover:nth-child(1) {
  background-color: var(--comment);
}
.tb button:hover:nth-child(2) {
  background-color: var(--purple);
}

form {
  margin: 50px 0;
}

input {
  padding: 15px 0px 15px 15px;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 500;
  color: var(--bg);
  background-color: #fff;
  outline: none;
  width: calc(100% - 20px);
  border-radius: 10px;
  border: 3px solid transparent;
}

input:required:valid {
  border: 3px solid var(--purple) !important;
}
input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: var(--comment);
}
input:required:invalid {
  border: 3px solid var(--comment);
}

.App-header {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--light);
}
h3,
h2 {
  font-size: 70px;
  font-weight: 300;
}
.btn {
  background-color: var(--bg);
  font-size: 15px;
  font-weight: 900;
  color: var(--light);
  margin-top: 50px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid var(--purple);
  padding: 18px 0px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn:hover {
  color: var(--light);
  background-color: var(--purple);
}
.btn-cancel {
  font-size: 15px;
  background-color: var(--light);
  font-weight: 900;
  color: var(--bg);
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  padding: 18px 0px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-cancel:hover {
  color: white;
  background-color: var(--comment);
}

.pd {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
hr {
  background-color: red;
  color: var(--purple);
}
.cb {
  height: 44px;
  padding: 0 25px !important;
  margin: 0 !important;
  box-shadow: 10px 10px 80px rgba(104, 42, 233, 1);
  color: white;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--bg);
  padding: 5px 20px;
}
.cb::placeholder {
  font-weight: 300;
  color: var(--comment);
}
.bb {
  background-color: var(--purple);
  font-size: 12px;
  font-weight: 900;
  color: var(--light);
  cursor: pointer;
  height: 50px !important;
  padding: 0px 40px;
  border: none;
  outline: none;
  border-radius: 0px 10px 10px 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.bb:hover {
  background-color: var(--comment);

  color: white;
}
.nav {
  display: flex;
  padding: 0;
  list-style: none;
}
.nav a {
  text-decoration: dashed;
  padding-right: 100px;
  list-style: none;
  font-size: 40px;
  color: white;
}
.nav a {
  text-decoration: dashed;
  padding-right: 100px;
  font-weight: 100;
  list-style: none;
  font-size: 32px;
  color: var(--light);
  transition: 0.3s ease;
}
.nav a:hover {
  color: var(--purple);
}
.btn-page {
  background-color: var(--bg);
  font-size: 15px;
  font-weight: 900;
  color: var(--light);
  border: 1px solid var(--purple);
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 30px;
  font-weight: 900;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-page:hover {
  background-color: var(--purple);
  color: var(--light);
}
span {
  font-size: 18px;
  padding: 10px 30px;

  font-weight: 500;
}
