.App {
  text-align: start;
}

table,
th,
td {
  border: 3px solid white;
  border-collapse: collapse;
  padding: 5px 50px;
  break-before: 5px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 24px;
  flex-direction: row;
}
table button {
  padding: 10px 20px;
  font-weight: 900;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}
table button:hover {
  color: white;
}
table button:hover:nth-child(1) {
  background-color: rgb(255, 95, 95);
}
table button:hover:nth-child(2) {
  background-color: rgb(109, 107, 194);
}

form {
  margin: 50px 0;
}

input {
  padding: 15px 0px 15px 15px;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 900;
  color: #282c34;
  outline: none;
  width: calc(100% - 20px);
  border-radius: 10px;
  border: 3px solid transparent;
}

input:required:valid {
  border: 3px solid rgb(154, 206, 13) !important;
}
input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #868686;
}
input:required:invalid {
  border: 3px solid rgb(206, 19, 13);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
h3,
h2 {
  font-size: 70px;
}
.btn {
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  color: #282c34;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 18px 0px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn:hover {
  color: white;
  background-color: rgb(154, 206, 13);
}
.btn-cancel {
  background-color: white;
  font-weight: 700;
  color: #282c34;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 18px 0px;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-cancel:hover {
  color: white;
  background-color: rgb(206, 19, 13);
}

.pd {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.cb {
  height: 44px;
  padding: 0 25px !important;
  margin: 0 !important;
  border-radius: 10px 0px 0px 10px;
  background-color: #fff;
  padding: 5px 20px;
}
.bb {
  background-color: rgb(154, 206, 13);
  font-size: 12px;
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
  height: 50px !important;
  padding: 0px 40px;
  border: none;
  outline: none;
  border-radius: 0px 10px 10px 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.bb:hover {
  background-color: rgb(78, 78, 78);
  color: white;
}
